body {
    text-align: left;
}
form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffad80;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}
.high {
    text-align: center;
}
.bold {
    font-width: bolder;
}
#uncolored{
    background-color: #ffffff;
    border: 0px;
    max-height: 10px;
}